# Configurações do app
PORT="3000"

# String de conexão - Banco de dados MongoDB - https://www.mongodb.com/products/platform/atlas-database
MONGODB_STRING_CONEXAO=""
MONGODB_NOME_DATABASE="imersao-instabyte"
MONGODB_NOME_COLLECTION="posts"

# Chave API - Google Gemini - https://ai.google.dev/gemini-api/docs/api-key?hl=pt-br
GEMINI_API_KEY=""